export OPS_MLIR_ROOT=/path/to/this/repo
export MLIR_BUILD_DIR=/path/to/llvm-project/build
export LLVM_BUILD_DIR=/path/to/llvm-project/build
export LLVM_SOURCE_DIR=/path/to/llvm-project/llvm
export MLIR_SOURCE_DIR=/path/to/llvm-project/mlir
export OPS_ROOT=/path/to/OPS/ops/c
export HDF5_INSTALL_PATH=/path/to/HDF5_INSTALL

export PATH=${MLIR_BUILD_DIR}/bin:$PATH
export LD_LIBRARY_PATH=${MLIR_BUILD_DIR}:$LD_LIBRARY_PATH
